<% content_for :title, "Editing device" %>

<h1>Gerät bearbeiten</h1>

<%= render "form", device: @device %>

<br>

<div>
  <%= link_to "Dieses Gerät anzeigen", @device %> |
  <%= link_to "Zurück zu den Geräten", devices_path %>
</div>
